In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [10]:
series_obj = Series(np.arange(8),index=['row 1','row 2','row 3','row 4','row 5','row 6','row 7','row 8'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [14]:
series_obj['row 7']

6

In [16]:
series_obj[[0,7]]

row 1    0
row 8    7
dtype: int64

In [17]:
np.random.seed(25)

In [24]:
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
index=['row 1','row 2','row 3','row 4','row 5','row 6'],
columns=['column 1','column 2','column 3','column 4','column 5','column 6'])
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.958540  0.762318  0.320007  0.791581  0.489521  0.296351
row 2  0.601961  0.221951  0.386073  0.006598  0.358175  0.196714
row 3  0.409622  0.109562  0.085703  0.747596  0.183010  0.015087
row 4  0.913751  0.925941  0.582870  0.312620  0.998268  0.150014
row 5  0.994481  0.124964  0.351055  0.531058  0.323604  0.806417
row 6  0.960319  0.539474  0.499325  0.801124  0.797099  0.119866

In [25]:
DF_obj.loc[['row 2','row 5'],['column 5','column 2']]

       column 5  column 2
row 2  0.358175  0.221951
row 5  0.323604  0.124964

In [27]:
series_obj['row 3':'row 7']

row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
dtype: int64

In [50]:
DF_obj < .2

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False     False     False     False
row 2     False     False     False      True     False      True
row 3     False      True      True     False      True      True
row 4     False     False     False     False     False      True
row 5     False      True     False     False     False     False
row 6     False     False     False     False     False      True

In [54]:
series_obj[series_obj>5]

row 1    8
row 7    6
row 8    7
dtype: int64

In [60]:
series_obj.loc[['row 1', 'row 5', 'row 8']] = 8
series_obj

row 1    8
row 2    1
row 3    2
row 4    3
row 5    8
row 6    5
row 7    6
row 8    8
dtype: int64